.li{
	display: inline-block;
	color: #FFFFFF;
	width: 126px;
	height: 36px;
}

.div-active{
	margin-top: 49px;
	margin-right: 312px;
	margin-bottom: 178px;
	margin-left: 270px;
	display: inline-block;

}
.div-a{
	display: inline-block;
	width: 617px;
	height:356px;
	background-color: #FCEE21;
	vertical-align: middle;
	color: #000000

}
.img-active{
	display: inline-block;

	/*margin-right: 55px;
	margin-top: 49px;*/
	float: right;
}
.logo-1{
	float: left;
	width: 151px;
	height: 118px;
}
.img-a{
	float: right;
	width: 151px;
	height: 118px;
}
.p{
	float: left;
}
