.green-box{
	background-color: green;
	border: 2px solid black;
}
.navigation{
	float: right;
}
.logo{
	float: right;
}
.logo img{
	height: 150px;
}
.clear{
	clear: both;
}
.yellow-box{
	float: left;
	width: 617px;
	background-color: yellow;
	padding: 15px;
}
.main-box::after{
	content: '';
	clear: both;
	display: block;
}
